<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tutorial - 02</title>
</head>
<body>
  <h1>출력 성공 !</h1>
  <form action="{% url 'result' %}" method="POST">
    {% csrf_token %} 
    <!-- 사용자 Request(요청) 보낼때마다 생기는 세션과 토큰의 값이 같을때 보내준다  보안을 위해서-->
    <input type="text" name="text">
    <button type="submit">결과 페이지로 이동하기</button>

  </form>
</body>
</html>